@font-face {
  src: url("../font/OpenSans-Medium.ttf");
  font-family: OpenSans-Medium;
}

:root {
  --main-color: orange;
  --main-background:#f9f8f8c2;
  --main-transition: 0.3s;
  
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  /* padding-top: var(--padding-container); */
}

/*Small*/
@media (min-width:768px) {
  .container {
    width: 750px;
  }

}

/*meduim*/
@media (min-width:992px) {
  .container {
    width: 970px;
  }

}

/*Large*/
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans-Medium;

}
/* Start setting-box */
.settings-box{
  background-color: #fff;
  width: 33px;
  height: 142px ;
  position: fixed;
  left: -33px;
  top: 100px; 
  z-index: 20000;
  transition: var(--main-transition);
}
.settings-box .icon{
  position: absolute;
  width: 20px ;
  height: 30px ;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
}
.settings-box .icon i{
font-size: 20px;
}
.settings-box ul {
list-style: none;
display: flex;
flex-direction: column;
width: fit-content;
position: absolute;
left: 5px;
top: 9%;
gap: 5px;
/* transform:translate(-50%,-50%); */
}
.settings-box ul li{
  width: 20px;
  height: 20px ;
  /* background-color: red; */
  border-radius: 50%;
  
}
.settings-box ul li:nth-child(1){
background-color:red ;
}
.settings-box ul li:nth-child(2) {
  background-color: green;
}
.settings-box ul li:nth-child(3) {
  background-color: orange;
}
.settings-box ul li:nth-child(4) {
  background-color: yellow;
}
.settings-box ul li:nth-child(5) {
  background-color: blue;
}
.open{
  left: 0px;
}
/* End setting-box */
/* Start header */
ul{
  list-style: none;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .container .logo{
font-size: 25px;
  margin: 10px 0;
}
.header .container .sign-up{
    
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  gap: 30px;
}
.header .container .sign-up div{
  width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
}
.header .container .sign-up div:first-child i{
font-size: 20px;
}
.header .container .sign-up div:last-child i{
font-size: 20px;
}
.header .container nav {

}
.header .container nav .menu{
font-size: 20px;
}
.header .container nav .menu  .i1{

}
.header .container nav .menu .i2{
  display: none;
}
.header .container nav .links{
    position: absolute;
      background:var(--main-background);
      width: 200px;
      right: -2px;
      top: 50px;
      z-index: 10000;
      display: none;
      transition: var(--main-transition);
}
.header .container nav .links a {
text-decoration: none;
  color: #000;
  font-weight: bold;
  display: block;
  padding: 15px 0 15px 15px;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}
.header .container nav .links a::before{
  content: "";
  position: absolute;
  background-color: var(--main-color);
  transition: var(--main-transition);
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  z-index:-1 ;
}
.header .container nav .links a:hover::before{
  width: 100%;
}
.header .container nav .links li:not(:last-child) {
  border-bottom: 2px solid #fff;
}
/* End header */

/* Start landding */
.landing {
  background-image: url("../img/bg2.jpeg");
  height: calc(100vh - 48px);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.landing .overlay {
  position: absolute;
  background-color: #00000096;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.landing .content {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 40%;
  text-align: center;
}

.landing .content h2 {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 15px;
  font-weight: 900;
}

.landing .content p {
  line-height: 1.7;
}
.active{
  color: var(--main-color);
}
/* End landing */

/* Start kind food  */
.kind-food {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--main-background);
  z-index: -2;
}

.main-title {
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 15px 20px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
  transition: var(--main-transition);
}

.main-title:hover {
  color: #FFF;
  border-color: #FFF;
}

.main-title::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.main-title:hover::before {
  width: 100%;
}

.main-para {
  text-align: center;
  margin: 20px 0 50px;
}

.kind-food .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20PX;
  background-color: #fff;
  padding: 20px 10px;
}

.kind-food .container .shop {
  flex-basis: 45%;
  /* background: orange; */
  /* height: 350.58px; */
  width: 80%;
}

.kind-food .container .shop img {
  max-width: 100%;
}

.kind-food .container .type {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 45%;
}

.kind-food .container .type .food {
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  padding: 15px;
  position: relative;
  z-index: 2;
}

.kind-food .container .type .food::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgb(233 233 233 / 13%);
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);

}

.kind-food .container .type .food:hover::before {
  height: 100%;
  width: 100%;
}

.kind-food .container .type .food img {
  width: 50px;
  margin-right: 20px;
}

.kind-food .container .type .food .info {}

.kind-food .container .type .info h3 {
  margin-bottom: 5px;
}

.kind-food .container .type .info p {
  color: gray;
  font-size: 15px;
  line-height: 1.5;

}

/* End kind food */